:root {
    --dark-brown: #5C4033;
    --black: #1A1A1A;
    --white: #FFF;
    --cream: #FFFDD0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-brown);
}

img {
    height: 45vh;
    width: auto;
}

button {
    border-radius: 50%;
    margin: 5px;
    padding: 12px;
    font-size: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 100px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 5vh;
    background-color: var(--black);
}

.menu-item-container {
    background-color: var(--cream);
    padding: 15px;
    border-radius: 10px;
    display: grid;
}

.menu-item {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}

.about-page {
    margin: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20vh;
    background-color: var(--cream);
    border-radius: 10px;
}

.about-page-title {
    padding-bottom: 5vh;
}

.about-page-img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.about-page-text {
    padding-top: 5vh;
    font-size: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
}